---
import type { MarkdownHeading } from "astro"
import TableOfContents from "./TableOfContents"
// import MoreMenu from './MoreMenu.astro'

type Props = {
  headings: MarkdownHeading[]
  editUrl: string
}

const { headings } = Astro.props
---

<nav aria-labelledby="grid-right">
  <div class="text-sm space-y-3">
    <TableOfContents client:media="(min-width: 50em)" headings={headings} />
    <!-- <MoreMenu editHref={editUrl} /> -->
  </div>
</nav>
