---
import Layout from '../layouts/Layout.astro'
import Button from '../../ui/components/Button'
---

<Layout title='Welcome to Astro'>
  <main>
    <Button variant='primary'>Button</Button>
    <Button variant='outline'>Button</Button>
    <Button variant='link'>Button</Button>
  </main>
</Layout>
