---
import { TextHighlight } from "#/ui/components/TextHighlight"
import { Hero } from "#/ui/marketing/Hero"

import Layout from "../layouts/Layout.astro"
---

<Layout title="" description="">
  <main>
    <Hero
      buttons={[
        { children: "Get started", href: "/docs" },
        { children: "Upgrade", href: "/#pricing" },
      ]}
    >
      <h1 slot="title">
        Build projects faster, <strong>without&nbsp;restrictions</strong>
      </h1>
      <p slot="description">
        Kickstart any project and save hundreds of hours with beautifully designed, fully
        customisable components.
      </p>
    </Hero>
  </main>
</Layout>
