---
interface Props {
  title: string
  body: string
  href: string
}

const { href, title, body } = Astro.props
---

<li
  class='flex p-px bg-gray-950 rounded-lg shadow-inner transition-all duration-75 bg-[100%] hover:bg-[0] bg-gradient-to-r hover:from-cyan-500 hover:to-purple-500 group'
>
  <a href={href} class='w-full rounded-lg text-white bg-gray-900 opacity-80 p-5'>
    <h2 class='m-0 text-xl duration-75 transition-colors group-hover:text-gray-200'>
      {title}
      <span>&rarr;</span>
    </h2>
    <p class='mt-2 mb-0'>
      {body}
    </p>
  </a>
</li>
